- content_for :on_ready do
  $("#datepicker").DateTimePicker();

= simple_form_for(@guest) do |f|
  = f.error_notification


  .form-inputs
    .row
      .small-6.column
        = f.input :firstname
      .small-6.column
        = f.input :lastname
    .row
      .small-6.column
        %label
          Chapter
          = f.select :chapter, options_for_select(harlem_chapters)
      .small-6.column
        %label
          Status
          = f.select :status, options_for_select(guest_status)
    .row
      .small-6.column.datepicker
        = f.input :last_meeting, as: :string, :input_html => { data: {field: "date"}}, value: Date.new
      .small-6.column.datepicker
        = f.input :last_contact, as: :string, :input_html => { data: {field: "date"}}, value: Date.new
    .row
      .small-12
        #datepicker

    .row
      .small-6.column
        = f.input :sponsor_name
      .small-6.column
        %label
          Photo
          = f.attachment_field :profile_image
    .row
      .small-12.column
        = f.input :note

  .form-actions
    .row
      .small-12.column
        = f.button :submit, class: 'small-12 column even'

