- content_for :on_ready do
  $("#datepicker").DateTimePicker();

= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    .row
      .small-6.column
        = f.input :firstname, required: true
      .small-6.column
        = f.input :lastname, required: true
    .row
      .small-6.column
        %label
          Division
          = f.select :division, options_for_select(division_status)
      .small-6.column
        = f.input :district
    .row
      .small-6.column
        %label
          Chapter
          = f.select :chapter, options_for_select(harlem_chapters)
      .small-6.column
        = f.input :district
    .row
      .small-6.column.datepicker
        = f.input :date_received, as: :string, :input_html => { data: {field: "date"}}, value: Date.new
      .small-6.column
        = f.input :sponsor_name
    .row
      .small-12
        #datepicker
    .row
      .small-12.column
        %label
          Photo
          = f.attachment_field :photo
    .row
      .small-12.column
        = f.input :note
    .row
      .small-6.column
        = f.input :contact_person
      .small-6.column
        = f.input :last_contact, as: :string, :input_html => { data: {field: "date"}}, value: Date.new
    .row
      .small-4.column
        = f.input :enshrined, label: "Enshrined"
      .small-4.column
        = f.input :district_connected, label: "Connected to district"
  .form-actions
    .row
      .small-12.column
        = f.button :submit
