= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.input :firstname, required: true
    = f.input :lastname, required: true
    = f.input :date_received
    = f.input :chapter
    = f.input :district
    = f.input :sponsor_name
    = f.input :note
    = f.attachment_field :photo, direct: true

  .form-actions
    = f.button :submit
